bin
obj
packages
!packages/repositories.config
/WPF/AuctionSniper/_NCrunch_AuctionSniper
Web
/WPF/AuctionSniper/.nuget/NuGet.Config
/WPF/AuctionSniper/.nuget/NuGet.exe
/WPF/AuctionSniper/.nuget/NuGet.targets
/WPF/AuctionSniper/*.suo
/WPF/AuctionSniper.Tests/*.ncrunchproject
/WPF/AuctionSniper/AuctionSniper.ncrunchsolution.user
/WPF/AuctionSniper/AuctionSniper.sln.DotSettings.user
/WPF/AuctionSniper/AuctionSniper.v2.ncrunchproject
/WPF/AuctionSniper/AuctionSniper.v2.ncrunchsolution
/WPF/AuctionSniper/AuctionSniperApplication.csproj.user
/WPF/AuctionSniper/AuctionSniperApplication.v2.ncrunchproject
